:root {
    --main-bg-color-red: #d10b0b;
    --main-bg-color-red-orange: #fa442b;
    --main-bg-color-blue: #202d43;
    --main-bg-color-dark-gray: #878c99;
    --main-bg-color-gray: #dce1e8;
    --main-bg-color-light-gray: #f2f4f7;
    --main-bg-color-white: #ffffff;
}